<div class="comment-container">
    <h4>Comments</h4>

    <ul class="comment-list">

    <% if comments.empty? %>
        <small>No one has commented yet.</small>
    <% end %>

    <% comments.each do |comment| %>
        <li class="comment-item">
            <span class="comment-author"><%= comment.author.name %> :</span>
            <span class="comment-text"><%= comment.text %></span>
            <div class="post-btn-bar">
            <% if can? :destroy, @comment %>
                <%= form_with model: [@current_user, @comment.post, @comment], method: :delete do |f| %>
                    <%= f.submit "Delete", class: "btn warn-btn" %>
                <% end %>
            <% end %>
        </div>
        </li>
    <% end %>

    </ul>
</div>
