<header class="main-header">
    <div class="brand" >
    <%= link_to "Blogify", root_path%>
    </div>

    <% if user_signed_in? %>
        <%= link_to "+ New Post", new_user_post_path(current_user), class: "new-post-btn" %>
    <% end %>
</header>
