<header class="main-header">
    <div class="brand" >
    <%= link_to "Blogify", root_path%>
    </div>
    <button class="new-post-btn" >
    <%= link_to "+ New Post", new_user_post_path(current_user)%>
    </button>
</header>
