<header class="main-header">
    <div class="brand" >
    <%= link_to "Blogify", root_path%>
    </div>

    <%= link_to "+ New Post", new_user_post_path(current_user), class: "new-post-btn" %>

</header>
