---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/users/{id}/posts":
    get:
      summary: Lists all posts of a user
      tags:
      - Posts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: all posts returned
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    text:
                      type: string
                    comments_counter:
                      type: integer
                    likes_counter:
                      type: integer
                    author_id:
                      type: integer
                    created_at:
                      type: string
                    updated_at:
                      type: string
                  required:
                  - id
                  - title
                  - text
                  - author_id
                  - created_at
                  - updated_at
    post:
      summary: Create a new post
      tags:
      - Posts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '201':
          description: post created
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                text:
                  type: string
              required:
              - title
              - text
servers:
- url: https://{defaultHost}
  variables:
    defaultHost:
      default: www.example.com
