<section>
    <%= render "shared/user_card", user: @user %>
    
    <% if @posts.empty? %>
        <p>There is no post yet.</p>
    <% end %>

    <% @posts.each do |post| %>
        <%= render "shared/post_card", post: post %>
        <%= render "shared/comment_box", comments: post.recent_comments %>
    <% end %>

    <button class="link-btn" type="button">Pagination</button>

</section>