@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Page header  */

.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.brand {
  font-size: 2rem;
  font-weight: 700;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container a {
  font-weight: 500;
  font-size: 1.1rem;
}

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e5df0;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 40px;
  height: 40px;
  padding: 2px;
  color: #fff;
  border-radius: 50%;
  border: solid 2px #f5c6cb;
}

/* Home Page */

.tool-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.users-container {
  width: 100%;
  padding: 1rem;
}

/* User Page  */

.user-detail {
  width: 100%;
}

.user-bio {
  width: 100%;
  border: solid 1px;
  padding: 1rem;
}

.recent-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Post Page  */

.post-container {
  width: 100%;
  border: solid 1px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.post-container header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.post-title {
  font-size: 1.4rem;
}

.post-author {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 400;
}

.post-btn-bar {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.post-btn {
  cursor: pointer;
  border: 2px solid;
  border-radius: 3px;
  box-shadow: 1px 1px 0 0, 2px 2px 0 0, 3px 3px 0 0;
  position: relative;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #000;
  background-color: #fff;
}

.post-btn:active {
  box-shadow: 0 0 0 0;
  top: 2px;
  left: 2px;
}

/* Post Form  */

.post-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-container input,
textarea {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.25rem;
  font-size: 1.1rem;
}

.submit-btn {
  color: #fff;
  cursor: pointer;
  border: 0;
  background: #5e5df0;
  border-radius: 25rem;
  box-shadow: #5e5df0 0 10px 20px -10px;
  outline: 0 solid transparent;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1.1em;
  transition: all 0.2s;
}

.submit-btn:hover {
  box-shadow: #3e3ec4b3 0 15px 40px -10px;
  transform: translateY(-2px);
}

/* Comment Form  */
.comment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
